<div
  class="tab"
  data-order="{{ block.settings.tab_order }}"
  data-tab="tab-{{ block.id }}"
>
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Tab content",
  "tag": null,
  "settings": [
    {
      "type": "number",
      "id": "tab_order",
      "label": "Number (same in content!)"
    }
  ],
  "blocks": [{"type": "benefits"}],
  "presets": [{
    "name": "Tab content",
    "blocks": [
      {
        "type":"benefits",
        "settings": {
          "title":"dgdfggdff"
        }
      }
    ]
  }]
}
{% endschema %}