<div data-tab="{{block.settings.tab_order1}}" class="tab">
{% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Tab content",
  "tag": null,
  "settings": [
    {
      "type": "number",
      "id": "tab_order1",
      "label": "Number (same in content!)"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
    }
  ],
  "blocks": [{"type": "benefits"}],
  "presets": [{
    "name": "Tab content"
  }]
}
{% endschema %}