<div
  class="tab"
  data-tab="tab-{{ block.id }}"
  data-caption="{{ block.settings.nav_caption }}"
>
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Tab content",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "nav_caption",
      "label": "Nav caption",
      "default": "Tab"
    }
  ],
  "blocks": [{"type": "benefits"}],
  "presets": [{
    "name": "Tab content",
    "blocks": [
      {
        "type":"benefits"
      }
    ]
  }]
}
{% endschema %}