<div
  class="tab"
  data-order="{{ block.settings.tab_order }}"
  data-tab="tab-{{ block.id }}"
>
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Tab content",
  "tag": null,
  "settings": [
    {
      "type": "number",
      "id": "tab_order",
      "label": "Number (same in content!)",
      "default": 0
    },
    {
      "type": "text",
      "id": "nav_caption",
      "label": "Nav caption",
      "default": "tab"
    }
  ],
  "blocks": [{"type": "benefits"}],
  "presets": [{
    "name": "Tab content",
    "blocks": [
      {
        "type":"benefits",
        "blocks": [
          {
            "type":"_benefits_list_item",
            "settings": {
              "subtitle": "Subtitle.",
              "text": "<p>loream...<p>"
            }
          }
        ]
      }
    ]
  }]
}
{% endschema %}