<div>
  
  {% if block.settings.title != blank %}
  <h2>{{ block.settings.title }}</h2>
  {% endif %}

  <ul>
    {% content_for 'blocks' %}
  </ul>
</div>

{% schema %}
{
  "name": "Benefits",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
    }
  ],
  "blocks": [{"type": "_benefits_list_item"}],
  "presets": [
    { 
      "name": "Benefits",
      "blocks": [
        {
          "type":"_benefits_list_item"
        }
      ]
    }
  ]
}
{% endschema %}