<div>
  
  {% if block.settings.title != blank %}
  <h2>{{ block.settings.title }}</h2>
  {% endif %}

  <div>
    {{ block.settings.text }}
  </div>
</div>

{% schema %}
{
  "name": "Text content",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    }
  ],
  "presets": [
    { 
      "name": "Text content"
    }
  ]
}
{% endschema %}