{%- style -%}
  .section-{{ section.id }} {
    background: #e7e3cc;
  }
  .tabs{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
  }
  .tabs-nav {
    margin-bottom:10px;
  }
  .tabs .tab-nav-btn {
    border-radius: 10px;
    border: none;
    padding: 12px 0px;
    width: 100%;
    background: rgba(52, 50, 15, 0.1);
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #34320f;
  }
  .tabs .tab-nav-btn:not(:last-child){
    margin-bottom:5px;
  }
  .tabs .tab-nav-btn.active{
    color: #f1eeda;
    background: #34320f;
  }
  .tabs-body{
    border-radius: 10px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.6);
  }
  .tabs .tab{
    display:none;
  }
  .tabs .tab.active{
    display:block;
  }

{%- endstyle -%}

<div class="section-{{ section.id }}">
  {%- if section.settings.header != blank -%}
    <h2>{{ section.settings.header }}</h2>
  {%- endif -%}

  <div class="tabs">
    <div class="tabs-nav">
      {% content_for 'block', type:"_tab_nav", id:"tab_order" %}
    </div>

    <div class="tabs-body">
      {% content_for 'blocks' %}
    </div>
  </div>


</div>
<script>
document.addEventListener("DOMContentLoaded", (event) => {
  const tabsBlock = document.querySelector(".section-{{ section.id }} .tabs");
  const buttons = tabsBlock.querySelectorAll(".tabs-nav .tab-nav-btn");
  const tabs = tabsBlock.querySelectorAll(".tabs-body .tab");
  buttons.forEach(btn => btn.addEventListener('click', openTab));

  function openTab(e){
    console.log('this= ');
    console.log(this);
    const activeTab = e.target.dataset.order;
    changeClass(activeTab, buttons);
    changeClass(activeTab, tabs);
  }

  function changeClass(activeTab, elems){
    elems.forEach(elem => {
      if( activeTab == elem.dataset.tab){
        elem.classList.add('active')
      } else {
        elem.classList.remove('active')
      }
    });
  }

  if (buttons.length) buttons[0].click();
});
</script>

{% schema %}
  {
    "name": "Tabs",
    "tag":"section",
    "class": "section",
    "blocks": [{"type": "_tab_nav"}, {"type": "_tab_content"}],
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Header"
      }
    ],
    "presets":[{
      "name": "Tabs"
    }]
  }
{% endschema %}