{%- style -%}
  .section-{{ section.id }} {
    background:red;
  }
{%- endstyle -%}

<div class="section-{{ section.id }}">
  {%- if section.settings.header != blank -%}
    <h2>{{ section.settings.header }}</h2>
  {%- endif -%}
fgdfgdffdfdg
</div>

{% schema %}
  {
    "name": "Tabs",
    "tag":"section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Header"
      },
      {
        "type": "header",
        "content": "test"
      },
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "hz"
      }
    ]
  }
{% endschema %}