{%- style -%}
  .section-{{ section.id }} {
    background: #e7e3cc;
  }
  .tabs{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
  }
  .tabs-header {
    margin-bottom:10px;
  }
  .tabs .head-btn {
    border-radius: 10px;
    border: none;
    padding: 12px 0px;
    width: 100%;
    background: rgba(52, 50, 15, 0.1);
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #34320f;
  }
  .tabs .head-btn:not(:last-child){
    margin-bottom:5px;
  }
  .tabs .head-btn.active{
    color: #f1eeda;
    background: #34320f;
  }
  .tabs-body{
    border-radius: 10px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.6);
  }
  .tabs .tab{
    display:none;
  }
  .tabs .tab.active{
    display:block;
  }

{%- endstyle -%}

<div class="section-{{ section.id }}">
  {%- if section.settings.header != blank -%}
    <h2>{{ section.settings.header }}</h2>
  {%- endif -%}
  <div class="tabs">
    <div class="tabs-header">
      {% content_for 'block', type:"_tab_nav", id:"tab_order" %}

      <button type="button" class="head-btn active" data-button="1">Benefits</button>
      <button type="button" class="head-btn " data-button="2">180 Day Breathe Easy Guarantee</button>
      <button type="button" class="head-btn " data-button="3">Reviews</button>
    </div>

    <div class="tabs-body">
      <div data-tab="1" class="tab active">
        {% content_for 'blocks' %}
      </div>
      <div data-tab="2" class="tab">
        Your lungs didn’t get congested overnight—and real healing takes time.
        That’s why RespiClear works best with consistent daily use.
        But if, after giving it a fair shot, you don’t feel deeper, clearer breathing?
        You’ll get every penny back. No fine print. No risk. Just relief.
      </div>
      <div data-tab="3" class="tab">
        <div>
          <div>⭐⭐⭐⭐⭐</div>
          <h4>“I didn’t realize how badly I needed this.”</h4>
        </div>
        <div>
          <p>I used to think the tightness in my chest and the constant morning coughing was just “getting older.” But after a week on RespiClear, my lungs felt open again. By day 4 I could actually take a full breath without feeling clogged up. It’s now part of my morning routine and I’ll never go without it again.</p>
          <p>– Angela T., 48</p>
        </div>
      </div>

    </div>
  </div>


</div>
<script>
document.addEventListener("DOMContentLoaded", (event) => {
  const tabsBlock = document.querySelector(".section-{{ section.id }} .tabs");
  const buttons = tabsBlock.querySelectorAll(".tabs-header .tab-nav-btn");
  const tabs = tabsBlock.querySelectorAll(".tabs-body .tab");
  buttons.forEach(btn => btn.addEventListener('click', openTab));
  console.log(buttons);

  function openTab(e){
    console.log(e);
    changeClass(e.target.dataset.order, 'order', buttons);
    changeClass(e.target.dataset.order, 'tab', tabs);
  }

  function changeClass(activeTab, nameElem, elems){
    elems.forEach(elem => {
      if( activeTab == elem.dataset[nameElem]){
        elem.classList.add('active')
      } else {
        elem.classList.remove('active')
      }
    });
  }
});
</script>

{% schema %}
  {
    "name": "Tabs",
    "tag":"section",
    "class": "section",
    "blocks": [{"type": "_tab_nav"}, {"type": "_tab_content"}],
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Header"
      }
    ],
    "presets":[{
      "name": "Tabs",
      "blocks": [
        {
          "type":"_tab_nav",
          "settings": {
            "tab_order": 0,
            "title": "enter uniqe order!!!"
          }
        },
        {
          "type":"_tab_content",
          "settings": {
            "tab_order": 0,
            "title": "enter uniqe order!!!"
          }
        },
      ]
    }]
  }
{% endschema %}