{%- style -%}
  .section-{{ section.id }} {
    background:red;
  }
{%- endstyle -%}

<div class="section-{{ section.id }}">
fgdfgdffdfdg
</div>

{% schema %}
  {
    "name": "tabs",
    "tag":"section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Header"
      }
    ]
  }
{% endschema %}