{%- style -%}
  .section-{{ section.id }} {

  }

  .tabs button.active{
    background: green;
  }
  .tabs .tab{
    display:none;
  }
  .tabs .tab.active{
    display:block;
  }

{%- endstyle -%}

<div class="section-{{ section.id }}">
  {%- if section.settings.header != blank -%}
    <h2>{{ section.settings.header }}</h2>
  {%- endif -%}
  
  <div class="tabs">
    <div class="header">
      <button type="button" class="active" aria-button="1">slide1</button>
      <button type="button" aria-button="2">slide2</button>
      <button type="button" aria-button="3">slide3</button>
    </div>

    <div class="body">
      <div aria-tab="1" class="tab active">slide1</div>
      <div aria-tab="2" class="tab">slide2</div>
      <div aria-tab="3" class="tab">slide3</div>

    </div>
  </div>
</div>
{% javascript %}

  const tabsBlock = document.querySelector(".section-{{ section.id }} .tabs");
  const buttons = tabsBlock.querySelectorAll(".header button");
  const tabs = tabsBlock.querySelectorAll(".body tab");
  buttons.addEventListener('click', openTab);
  function openTab(e){
    console.log(e);
  }
{% endjavascript %}

{% schema %}
  {
    "name": "Tabs",
    "tag":"section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Header"
      },
      {
        "type": "header",
        "content": "test"
      },
      {
        "type": "richtext",
        "id": "title",
        "label": "hz"
      }
    ]
  }
{% endschema %}